.button {
    background: var(--green);
    color: #fff;
    font-size: 1em;
    font-family: inherit;
    border: none;
    border-radius: 0.2em;
    padding: 0.3em 1em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .5s;
}

.button:hover {
    box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.5);;
}

.button:active {
    transform: scale(.9);
}