.logo {
    display: inline-block;
    color: #333;
    font-size: 30px;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-decoration: none;
    margin: .3em;
    padding: .2em;
    cursor: pointer;
}

.logo span {
    display: inline-block;
    background: #00ab00;
    color: #fff;
    border-radius: 0.2em;
    padding: 0.15em;
}