.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.popup_frame {
    width: 500px;
    height: 400px;
    background: #fff;
    border-radius: .5em;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s;
}

.popup.entering {
    background: rgba(0, 0, 0, 0);
}

.popup.entered {
    background: rgba(0, 0, 0, .4);
}

.popup.entered .popup_frame {
    transform: scale(1);
    opacity: 1;
}

.popup.exiting .popup_frame {
    transform: scale(.5);
    opacity: 0;
}

.popup.exited {
    background: rgba(0, 0, 0, 0);
}