@font-face {
	font-family: 'Ubuntu';
	src: url('assets/fonts/ubuntu/Ubuntu-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('assets/fonts/ubuntu/Ubuntu-Medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('assets/fonts/ubuntu/Ubuntu-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Mulish';
	src: url('assets/fonts/mulish/Mulish-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('assets/fonts/mulish/Mulish-Medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('assets/fonts/mulish/Mulish-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	--main: #5bbbba;
	--disabled: #e1e1e1;
	--lightGrey: #9f9f9f;
	--darkGrey: #333333;
}

body {
	color: var(--darkGrey);
	font-family: 'Mulish', sans-serif;
	margin: 0;
	user-select: none;
	overflow-x: hidden;
}

body.scroll_disabled {
	overflow: hidden;
}

header {
	position: relative;
	background: #fff;
	box-shadow: 0 0 1em rgba(0, 0, 0, .3);
	z-index: 99;
}

#header_wrapper {
	max-width: 1200px;
	margin: auto;
}

main {
	padding: 1em;
	box-sizing: border-box;
}

#main_wrapper {
	max-width: 1000px;
	margin: auto;
}

a {
	color: inherit;
	text-decoration: inherit;
}

sup {
	font-size: 0.5em;
}

svg {
	width: 100%;
	height: 100%;
}

input,
textarea {
	width: 100%;
	color: var(--darkGrey);
	font-size: 1em;
	font-family: inherit;
	border: .1em solid #ccc;
	border-radius: 0.2em;
	outline: none;
	padding: 0.3em 0.5em;
	box-sizing: border-box;
	transition: border .3s;
	resize: none;
}

input::placeholder,
textarea::placeholder {
	color: var(--lightGrey);
}

input:focus,
textarea:focus {
	border-color: var(--main);
}